.app-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--dark-bg-light);
	padding: 1rem 2rem;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
	position: sticky;
	top: 0;
	z-index: 1000;
	height: var(--header-height);
}

.app-header .logo {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--accent-color);
}

.app-header nav a {
	margin-left: 1rem;
	color: var(--text-color);
	font-weight: 500;
}

.app-header nav a:hover {
	color: var(--button-hover-bg);
}

.logout-btn {
	background-color: white;
	border: 2px solid;
	color: #3f72af;
	padding: 0.3rem 0.8rem;
	border-radius: 2rem;
	width: 7rem;
	height: 3rem;
	font-size: 1.25rem;
	font-weight: 600;
}

.logout-btn:hover {
	background-color: var(--button-hover-bg);
	color: var(--text-color);
	cursor: pointer;
}

.header-content {
	display: flex;
	align-items: center;
}

.content {
	margin: 1rem;
}